       /* Estilos para la ventana modal */
       .modal {
        display: none; /* Ocultar la ventana modal por defecto */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    /* Estilos para el contenido de la ventana modal */
    .modal-content {
        background-color: #252020;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #080808;;
        width: 80%;
    }

    /* Estilos para el botón de cerrar */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #ff0000;;
        text-decoration: none;
        cursor: pointer;
    }
  
    .barra {
      display: inline-block;
      padding: 10px 20px;
      margin: 5px;
      background-color: #007BFF;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    .barra:hover {
      background-color: #0056b3;
    }
    section {
      width: 80%; /* Ancho del section */
      margin: 30px auto; /* Centrar horizontalmente y agregar margen superior e inferior */
      padding: 20px; /* Espaciado interno */
      border: 2px solid #1da1f2; /* Borde */
      border-radius: 10px; /* Borde redondeado */
      background-color: #585757; /* Color de fondo */
      box-sizing: border-box; /* Incluir padding en el tamaño total */
      text-align: justify; /* Alinear texto justificado */
    }
    
    /* Estilo para el título de la sección */
    section h2 {
      margin-top: 0; /* Eliminar margen superior */
    }
    
    /* Estilo para la lista dentro de la sección */
    section ul {
      margin-top: 0; /* Eliminar margen superior */
      padding-left: 20px; /* Sangría izquierda para la lista */
    }
    
    /* Estilo para los elementos de la lista dentro de la sección */
    section li {
      margin-bottom: 10px; /* Espaciado inferior para los elementos de la lista */
    }
    .content-wrapper {
      text-align: center; /* Centrar el contenido horizontalmente */
      max-width: 800px; /* Establecer un ancho máximo para el contenido */
      margin: 0 auto; /* Centrar horizontalmente */
    }
    /* Estilo para el enlace de notificaciones */
.notificaciones-link {
/* Agrega estilos de tu elección */
text-decoration: none; /* Elimina la subrayado predeterminado */
color: #333; /* Color del texto */
}

/* Estilo para resaltar visualmente una nueva notificación */
.new-notification {
font-weight: bold; /* Hace que el texto sea más grueso */
color: red; /* Cambia el color del texto a rojo */
}